@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Bona Nova', serif;
}

.container {
    display: flex;
}

.container-2 {
    display: flex;
}

.cont-logo {
    position: absolute;
    width: 100vw;
    height: 40vh;
}

.imagen {
    width: 100vw;
    height: 40vh;
}

.cont-logo-2 {
    position: absolute;
    width: 100vw;
    height: 40vh;
}

button {
    background-color: palegreen;
    height: 3rem;
    border-radius: 1rem;
    border: none;
}

button a {
    text-decoration: none;
}

.container-1 {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
    height: 40vh;
}

.img-logo {
    width: 35vw;
    height: 8vh;
    padding: .8rem;
    display: block;
    margin: auto;
}

.img-Cover-Curso {
    width: 65vw;
    height: 20vh;
    display: flex;
    margin: auto;
    padding-top: 1rem;
}

.text-1 {
    position: absolute;
    font-size: 1rem;
    padding: .8rem;
    color: azure;
    text-align: center;
}

.text-2 {
    font-size: 1rem;
    padding: .8rem;
    color: azure;
    text-align: center;
}

.c1 {
    min-height: 30vh;
    width: 100vw;
    position: relative;
    text-align: center;
    font-size: 2rem;
}

.c2 {
    min-height: 30vh;
    width: 90vw;
    position: relative;
    margin: auto;
}

.c3 {
    min-height: 30vh;
    width: 100vw;
    position: relative;
    text-align: center;
    font-size: 2rem;
}

.c4 {
    margin: auto;
}

.c5 {
    min-height: 30vh;
    width: 100vw;
    position: relative;
    text-align: center;
    font-size: 2rem;
}

.c6 {
    margin: auto;
}

.c7 {
    min-height: 30vh;
    width: 100vw;
    position: relative;
    text-align: center;
    font-size: 2rem;
}

.c8 {
    margin: auto;
}

.c9 {
    min-height: 30vh;
    width: 100vw;
    position: relative;
    text-align: center;
    font-size: 2rem;
}

.c10 {
    margin: auto;
}

.c-1 {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(234, 240, 239, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.c-2 {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(138, 200, 233, 0.9808298319327731) 0%, rgba(0, 212, 255, 1) 100%);
}

.c-3 {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(138, 245, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.c-4 {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(138, 183, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.c-5 {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(132, 146, 245, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.img-logo-cover {
    display: block;
    margin: auto;
    width: 70vw;
    margin-top: 2rem;
}

.logo-cover {
    border: solid 1.4rem;
    border-radius: .8rem;
    border-color: beige;
}

.btn-1 {
    text-align: center;
    margin-top: 6rem;
}

.img-inicio {
    height: 70vh;
}

.text-cont-curso {
    text-align: center;
    font-size: 2rem;
}

.text-1-cont-curso {
    text-align: center;
    font-size: 2rem;
}

.text-2-cont-curso {
    text-align: center;
    font-size: 3rem;
}

.modulo-1 {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.modulo-2 {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.modulo-3 {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.modulo-4 {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.modulo-5 {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.text-1-li-1 {
    list-style: none;
    font-size: 2rem;
}

.text-2-li-2 {
    list-style: none;
    font-size: 2rem;
}

.text-3-li-3 {
    list-style: none;
    font-size: 2rem;
}

.text-4-li-4 {
    list-style: none;
    font-size: 2rem;
}

.text-5-li-5 {
    list-style: none;
    font-size: 2rem;
}

.text-mod-title {
    font-size: 2rem;
}

.disponible {
    width: 100vw;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(101, 221, 240, 1) 0%, rgba(0, 212, 255, 1) 100%);
    text-align: center;
}

.disponible h1 {
    color: #8000fc;
    font-size: 2rem;
}

.disponible p {
    font-size: 2rem;
}

.bonos h1 {
    text-align: center;
    font-size: 2rem;
}

.img-card-1 {
    width: 55vw;
    height: 20vh;
    display: flex;
    margin: auto;
}

.img-card-2 {
    width: 55vw;
    height: 20vh;
    display: flex;
    margin: auto;
}

.img-card-3 {
    width: 55vw;
    height: 20vh;
    display: flex;
    margin: auto;
}

.cont-card-1 {
    width: 100vw;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}

.cont-card-2 {
    width: 100vw;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}

.cont-card-3 {
    width: 100vw;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}

.btn-2 {
    text-align: center;
}

.price {
    text-align: center;
    font-size: 2rem;
    color: yellowgreen;
}

.img-fondo-final {
    height: 59vh;
}

.text-garantia {
    text-align: center;
    font-size: 2rem;
}

.social {
    border-radius: 6rem;
}

.container-card-1 {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(132, 146, 245, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.text-prueba {
    color: #8000fc;
}

@media (min-width:450px) {
    .text-1 {
        font-size: 2rem;
    }
    .text-2 {
        font-size: 2rem;
    }
    .img-logo {
        width: 35vw;
        height: 10vh;
    }
    .img-logo-cover {
        margin-top: 1rem;
    }
    .img-inicio {
        width: 100%;
        height: 60vh;
    }
    .btn-1 {
        margin-top: 8rem;
    }
    .logo-cover {
        height: 27vh;
        width: 50vw;
        display: flex;
        margin: auto;
    }
    .img-card-1 {
        width: 25vw;
        height: 25vh;
        display: flex;
        margin: auto;
    }
    .img-card-2 {
        width: 25vw;
        height: 25vh;
        display: flex;
        margin: auto;
    }
    .img-card-3 {
        width: 25vw;
        height: 25vh;
        display: flex;
        margin: auto;
    }
    .img-fondo-final {
        width: 100vw;
        height: 70vh;
    }
    .price {
        font-size: 2.5rem;
    }
    .img-Cover-Curso {
        height: 30vh;
        width: 50vw;
        display: flex;
        margin: auto;
    }
    .img-garantia {
        width: 37vw;
        display: flex;
        margin: auto;
        height: 18vh;
    }
}

@media (min-width: 800px) {
    .aling-logo {
        width: 50vw;
    }
    .text-1 {
        width: 50vw;
    }
    .text-2 {
        width: 100vw;
    }
    .img-logo-cover {
        width: 50vw;
        order: 2;
        margin-top: 2rem;
    }
    .cont-logo {
        display: flex;
        flex-wrap: wrap;
    }
    .logo-cover {
        width: 40vw;
        height: 40vh;
        display: flex;
        margin: auto;
    }
    .text-1 {
        font-size: 2rem;
    }
    .cont-img-mod-1 {
        margin-top: auto;
    }
    .emoji {
        display: none;
    }
    .img-Cover-Curso {
        height: 40vh;
        width: 50vw;
        display: flex;
        margin: auto
    }
    .img-fondo-final {
        width: 100vw;
        height: 82vh;
    }
    .btn-1 {
        margin-top: 11rem;
    }
    .garantia {
        display: flex;
    }
    .img-garantia {
        width: 21vw;
        display: flex;
        margin: auto;
        height: 14vh;
        padding: 1rem;
    }
}

@media (min-width: 1000px) {
    .text-1 {
        font-size: 3rem;
    }
    .text-2 {
        font-size: 3rem;
    }
    .btn-inicio {
        height: 8rem;
        width: 50rem;
        margin-top: 6.4rem;
    }
    .btn-inicio a {
        font-size: 3rem;
    }
    .text-cont-curso {
        font-size: 4rem;
        margin-top: 8rem;
    }
    .text-1-cont-curso {
        font-size: 4rem;
    }
    .modulo {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
    .c1 {
        width: 50vw;
        font-size: 2rem;
    }
    .c2 {
        height: 55vh;
        width: 50vw;
        position: relative;
        display: flex;
    }
    .c3 {
        width: 50vw;
        font-size: 2rem;
    }
    .c4 {
        width: 50vw;
    }
    .c5 {
        width: 50vw;
        font-size: 2rem;
    }
    .c6 {
        width: 50vw;
    }
    .c7 {
        width: 50vw;
        font-size: 2rem;
    }
    .c8 {
        width: 50vw;
    }
    .c9 {
        width: 50vw;
        font-size: 2rem;
    }
    .c10 {
        width: 50vw;
    }
    .img-modulo-1 {
        display: flex;
        height: 80vh;
    }
    .disponible p {
        font-size: 3rem;
    }
    .disponible h1 {
        font-size: 3rem;
    }
    .card {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
    .container-card-1 {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
    .cont-card-1 {
        width: 30vw;
        text-align: center;
    }
    .cont-card-2 {
        width: 40vw;
        text-align: center;
    }
    .cont-card-3 {
        width: 30vw;
        text-align: center;
    }
}

@media(min-width:1300px) {
    .c1 {
        font-size: 8rem;
    }
    .text-1-li-1 {
        font-size: 6rem;
    }
    .c3 {
        font-size: 8rem;
    }
    .text-2-li-2 {
        font-size: 6rem;
    }
    .c5 {
        font-size: 8rem;
    }
    .text-3-li-3 {
        font-size: 6rem;
    }
    .c7 {
        font-size: 8rem;
    }
    .text-4-li-4 {
        font-size: 6rem;
    }
    .c5 {
        font-size: 8rem;
    }
    .text-5-li-5 {
        font-size: 6rem;
    }
    .disponible h1 {
        font-size: 8rem;
    }
    .disponible p {
        font-size: 5rem;
    }
    .text-cont-curso {
        font-size: 6rem;
    }
    .text-1-cont-curso {
        font-size: 5rem;
    }
    .text-2-cont-curso {
        font-size: 5rem;
    }
    .img-logo {
        width: 30vw;
        height: 10vh;
    }
    .text-1 {
        font-size: 6rem;
    }
    .btn-inicio {
        height: 14rem;
        width: 70rem;
        margin-top: 8rem;
    }
    .btn-inicio a {
        font-size: 4rem;
    }
    .bonos h1 {
        text-align: center;
        font-size: 9rem;
    }
    .cont-card-1 {
        font-size: 8rem;
        padding: 0.2rem;
    }
    .cont-card-2 {
        font-size: 8rem;
        padding: 0.2rem;
    }
    .cont-card-3 {
        font-size: 8rem;
        padding: 0.2rem;
    }
    .img-fondo-final {
        height: 90vh;
    }
    .text-2 {
        font-size: 4rem;
    }
    .btn-inicio-1 {
        width: 105rem;
        height: 15rem;
        font-size: 5rem;
    }
    .cont-garantia {
        width: 30vw;
    }
    .img-garantia {
        width: 97%;
        height: 83%;
    }
    .price {
        font-size: 9rem;
    }
    .img-fondo-final {
        width: 100vw;
        height: 113vh;
    }
    .text-garantia {
        font-size: 7rem;
    }
    .cont-garantia {
        width: 30vw;
        height: 41rem;
    }
    .cont-garantia-2 {
        width: 70vw;
    }
    .garantia {
        display: flex;
    }
}